/* QuestionPage.css */

/* QuestionPage.css */

.question-page {
    padding-top: 100px; /* ✅ Spazio per evitare sovrapposizione con la toolbar */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


.question-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
}
